* {
    background-color: var(--color-background);
    font-family: 'Open Sans', sans-serif;
}

:root{
  --color-background: #fff6d9ff;
  --color-cream: #d4af6c;
  --color-brown: #793c0dff;
  --color-searchBtn: #462206;
  --color-navBar: #ecdfb6;
}












